.hasan{color: coral;}
h1{font-size: 50px;}
.flex{display: flex;}
.width{width: 50%;}
.width img{width: 100%;}
.padding{padding: 5%;}
.hire{
    
    
    font-weight: 700;
    color: coral;
    border-radius: 20px;
}